*.exe
*.dll
*.ilk
*.pdb
*.ipdb
*.iobj
*.opendb
*.obj
*.tlog
*.idb
*.txt
*.lib
annotation_tools/mpii_annotator/ThreeDGroundTruthLabeler/tools/*
annotation_tools/mpii_annotator/ThreeDGroundTruthLabeler/ThreeDGroundTruthLabeler/eigen/
*.vshost.application
*.cache
*.vshost.exe.config
*.vshost.exe.manifest
*.exe.config
*.exe.manifest
*.pfx
*.user
*.suo
*.sdf
*.lock
*.ide
*.ipch
*.VC
*.log
*.VC.db
*.db
*.sln
