*.exe
*.dll
*.ilk
*.pdb
*.ipdb
*.iobj
*.opendb
*.obj
*.tlog
*.idb
*.txt
annotation_tools/mpii_annotator/ThreeDGroundTruthLabeler/tools/*
annotation_tools/mpii_annotator/ThreeDGroundTruthLabeler/ThreeDGroundTruthLabeler/eigen/
annotation_tools/mpii_annotator/ThreeDGroundTruthLabeler/ThreeDGroundTruthLabeler/common/